@media screen and (max-width:480px){
    .header{
        width:43% ;
        padding-right: 50px;
        padding-bottom: 10px;
        margin-bottom:10px;
        font-size:15px;
    }
    .header-top h1{
     font-size:28px;
     width:380px;
     margin-bottom: 5px;
        
    }
.header-top p{

  padding-left:150px;
}

    .bar{
      height: 100px;

    }
    .scroll-images{
      padding:0px; 
      width:100%;
    }
    #left-contents{
    width:280px;
    height:50px;
    margin:0px;
    padding: 0px;
    margin-left: 40px;

    }
    .sns-image{
    margin-left: 10%;
    width:50px;
    height:50px;
    
    
    }

    .contact{
    margin:0px;

    }
    
}

@media screen and (max-width:810px){
    .scroll-images{
        padding:0px; 
        width:100%;
      }

      .contents-item{
        width: 0px;
        margin-left: 0px;
       font-size: 80%;
       margin-right: 0px;
       }

      .bar{
        height: 100px;
  
      }
      .contact-addition{
      margin-left:50px;

      }


.Youtube-text{
  height: 430px;
  
  }

  .contents-text {
  width:100% ;


  }

  .bar li{
    padding-left:50px;
  }

.header-top{
padding-left:30px;

}

}
@media screen and (max-width:900px){

    .main{
      margin-left:0px;
      width: 100%;
    }

.contents-item{
  height:auto;
}
}

@media screen and (max-width:1050px){
.contents-item{
 width: 100%;
 margin-left: 0px;

}
.contents{

display: inline-block;

}
#left-contents{
margin-left: 0px;

margin-right: 5%;    

}

.contents-img{
display:none;

}


}

@media screen and (max-width:1012px){

.contents{
    margin-right:100px;
}
}

@media screen and (max-width:1371px){

    #left-contents{
        width:280px;
        height:50px;
        margin:0px;
        padding: 0px;
    
        }
        .sns-image{
        margin-left: 10%;
        width:50px;
        height:50px;
        
        
        }
        .profile{
          margin-left: 0px;
          clear: left;
        }

        .Youtube{
          margin-left: 0px;
          float: left;
        }
    
        @media screen and (max-width:510px){
        .addition{
         width:100%;

        }

        }


}


